
<!DOCTYPE html>
<html>
	<head>
		<title>Carousel Admin</title>

  		
		<link rel="stylesheet" href="{{ url_for('static',
												filename='css/bootstrap.min.css') }}">
		 <link rel="stylesheet" href="{{ url_for('static',
												filename='css/myCss/mycss.css') }}">

	</head>
	<body>

<form action="/" method="POST">
	<table>
		<tr>
		{% for imageIndex in range(n_all_images) %}
			<div class="h-50 d-inline-block">
				<div class="mh-50" >
					<td>
						<img  src="{{ url_for('static', filename='images/'+all_images[imageIndex].filename) }}" class="img-fluid" alt="lay">	

					</td>
				</div>
			</div>	

		{% if (imageIndex)%3 == 2 %}
		</tr>
		<tr>
			{% endif %}
	    {% endfor %}
	    </th>
	  

	</table>
</form>



	



	<script src="{{ url_for('static',
							filename='js/bootstrap.min.js') }}">
	</script>
	</body>
</html>

