
<!DOCTYPE html>
<html>
	<head>
		<title>Carousel Admin</title>

		<link rel="stylesheet" href="{{ url_for('static',
												filename='css/bootstrap.min.css') }}">
		  <link rel="stylesheet" href="{{ url_for('static',
												filename='css/myCss/mycss.css') }}">
	</head>
	<body>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

<form action="" method="POST">
	{{ secForm.csrf_token }}
	<input type = "hidden" id = "checkSubmit" name = "checkSubmit" value="1" >
	<div class="container">
		<div class="row">
		{% for imageIndex in range(n_all_images) %}

			<div class="col-sm">
				<img class="img-fluid" src="{{ url_for('static', filename='images/'+all_images[imageIndex].filename) }}"  alt="lay">	
				{% set checkid = all_images[imageIndex].id | string() %}
				<input type = "checkbox" id = "{{ 'check_'+checkid }}" name = "{{ 'check_'+checkid }}"  >
			</div>	

			{% if (imageIndex)%3 == 2 %}
		</div>
		<div class="row">
			{% endif %}
		{% endfor %}
	  
	    </div>
	  </div>
	  
	</div>




	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="d-flex justify-content-center h-100">
		<input type="submit" name="submit_button" value="submit"></input>
	</div>
	
</form>
	<footer>

		<div class="d-flex justify-content-center h-100">
			<button onclick="location.href='/dashboard'">Back to Dashboard</button>
		</div>

	</footer>
	<script src="{{ url_for('static',
							filename='js/bootstrap.min.js') }}">
	</script>
	</body>
</html>

