
<!DOCTYPE html>
<html>
	<head>
		<title>Carousel Admin</title>

		<link rel="stylesheet" href="{{ url_for('static',
												filename='css/bootstrap.min.css') }}">  
		<link rel="stylesheet" href="{{ url_for('static',
												filename='css/myCss/mycss.css') }}">
	</head>
	<body>


<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<h4>Delete Carousel</h4>
		</div>
		
		<div class="d-flex justify-content-center h-100">
			<form action="" method="POST">
				{{ secForm.csrf_token }}
			<select id="deleteCarouselName" name="deleteCarouselName" required>
				{% for c in all_carousel %}
					<option> {{ c.name }} </option>
				{% endfor %}
			</select>
		</div>
		
		<div class="d-flex justify-content-center h-100">
			<button type=submit>delete</button>
		</div>
			
		</form>
	</div>
	


	<br>
	<br>
	<br>
	<br>
	<br>
	<br>


	<footer>

		<div class="d-flex justify-content-center h-100">
			<button onclick="location.href='/dashboard'">Back to Dashboard</button>
		</div>

	</footer>
	



	<script src="{{ url_for('static',
							filename='js/bootstrap.min.js') }}">
	</script>
	</body>
</html>

