
<!DOCTYPE html>
<html>
	<head>
		<title>Carousel Admin</title>

		<link rel="stylesheet" href="{{ url_for('static',
												filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',
												filename='css/myCss/mycss.css') }}">
	</head>
	<body>



	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<h4>Edit Carousel</h4>
		</div>
		
		<div class="d-flex justify-content-center h-100">
			<form action="/editcarousel" method="POST">
				{{ secForm.csrf_token }}
				<select id="edit_carousel" name="edit_carousel" required>
					{% for c in all_Carousel %}
						<option> {{ c.name }} </option>
					{% endfor %}
				</select>
		</div>
		
			<div class="d-flex justify-content-center h-100">
				<button type=submit>edit</button>
			</div>
			
		</form>
	</div>
	

	



	<script src="{{ url_for('static',
							filename='js/bootstrap.min.js') }}">
	</script>
	</body>
</html>

