<!DOCTYPE html>
<html>
	<head>
		<title>Carousel</title>

		<link rel="stylesheet" href="{{ url_for('static',
												filename='css/bootstrap.min.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static',
												filename='css/myCss/mycss.css') }}">
	</head>
	<body>

<br>
		<br>
		<br>
		<br>
		<br>
		<br>

	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<h4>Choose a Carousel</h4>
		</div>
		
		<div class="d-flex justify-content-center h-100">
			<form action="/showcarousel" method="POST">
				{{ secForm.csrf_token }}
			<select id="show_carousel" name="show_carousel" required>
				{% for c in all_carousel %}
					<option> {{ c.name }} </option>
				{% endfor %}
			</select>
		</div>
		
		<br>
		<div class="d-flex justify-content-center h-100">
			<button type=submit>open</button>
		</div>
			
		</form>
	</div>

		<br>
		<br>
		<br>
		<br>
		<br>
	
	<footer>
		<div class="d-flex justify-content-center h-100">
			<button onclick="location.href='/logout'" type="button">Logout</button>
		</div>


	</footer>




	

	


	<script src="{{ url_for('static',
							filename='js/bootstrap.min.js') }}">
	</script>
	</body>
</html>
