<!DOCTYPE html>
<html>
	<head>
		<title>Carousel Admin</title>

		<link rel="stylesheet" href="{{ url_for('static',
												filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',
												filename='css/myCss/mycss.css') }}">
	</head>
	<body>
<br>
		<br>
		<br>
		<br>
		<br>
		<br>


	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
		  			<h2 class="mb-2">Upload new Image</h2>
				</div>
				<div class="card-body">
					<form action="" method="POST" enctype=multipart/form-data>
						{{ new_image_form.csrf_token }}
						<div class="input-group form-group">				      
					         
							{{ new_image_form.filename(class="form-control") }}

						</div>
						<div class="input-group form-group">				      
					         
							{{ new_image_form.description(class="form-control", placeholder="Description") }}
							

						</div>


						<div class="d-flex justify-content-center h-100">
							<div class="form-group">
								<button type="submit" value="Login" class="btn float-left login_btn"> Upload</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% if message %}
<div class="d-flex justify-content-center h-100">
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  <strong>Message:</strong> {{ message }}
	</div>
</div>


{% endif %}



	<br>
	<br>
	<br>
	<br>
	<br>
	<br>


	<footer>

		<div class="d-flex justify-content-center h-100">
			<button onclick="location.href='/dashboard'">Back to Dashboard</button>
		</div>

	</footer>

	<script src="{{ url_for('static',
							filename='js/bootstrap.min.js') }}">
	</script>
	</body>
</html>
