<!DOCTYPE html>
<html>
	<head>
		<title>Carousel Admin</title>

		<link rel="stylesheet" href="{{ url_for('static',
												filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',
												filename='css/myCss/mycss.css') }}">
	</head>
	<body>

<br>
		<br>
		<br>
		<br>
		<br>
		<br>

	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
		  			<h2 class="mb-2">New User</h2>
				</div>
				<div class="card-body">
					<form action="" method="POST">
						{{ new_user_form.csrf_token }}
						<div class="input-group form-group">
							{{ new_user_form.username(class="form-control", placeholder="username") }}
						</div>
						<div class="input-group form-group">
							{{ new_user_form.password(class="form-control", placeholder="password") }}
						</div>
						<div class="input-group form-group">
							Role:    {{ new_user_form.role(class="form-select") }}
						</div>


						<div class="d-flex justify-content-center h-100">
							<div class="form-group">
								<button type="submit" value="Login" class="btn float-left login_btn"> newUser</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% if error %}
<div class="d-flex justify-content-center h-100">
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  <strong>Error:</strong> {{ error }}
	</div>
</div>


{% endif %}

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>


	<footer>

		<div class="d-flex justify-content-center h-100">
			<button onclick="location.href='/dashboard'">Back to Dashboard</button>
		</div>

	</footer>


	<script src="{{ url_for('static',
							filename='js/bootstrap.min.js') }}">
	</script>
	</body>
</html>
