
<!DOCTYPE html>
<html>
	<head>
		<title>First page</title>

		<link rel="stylesheet" href="{{ url_for('static',
												filename='css/bootstrap.min.css') }}">
	</head>
	<body>




	<h4>DeleteUser</h4>
	<form action="/deleteuser" method="POST">
		<select id="deleteusername" name="deleteusername" required>
			{% for u in allUsers %}
				<option> {{ u.username }} </option>
			{% endfor %}
		</select>
		<button type=submit>delete</button>
	</form>

	



	<script src="{{ url_for('static',
							filename='js/bootstrap.min.js') }}">
	</script>
	</body>
</html>

