
<!DOCTYPE html>
<html>
	<head>
		<title>First page</title>

		<link rel="stylesheet" href="{{ url_for('static',
												filename='css/bootstrap.min.css') }}">
	</head>
	<body>



	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<h4>Image1</h4>
		</div>
		{% for image in all_images %}
			<div class="d-flex justify-content-center h-100">
				<img src="{{ url_for('static', filename='images/'+image.filename) }}" alt="Flowers in Chania">
			</div>
		{% endfor %}

			
		</form>
	</div>
	


	



	<script src="{{ url_for('static',
							filename='js/bootstrap.min.js') }}">
	</script>
	</body>
</html>

